@model SanoCenterGold.Models.RetoUsuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RetoUsuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRetoUsuario" />
            <div class="form-group">
                <label asp-for="IdReto" class="control-label"></label>
                <input asp-for="IdReto" class="form-control" />
                <span asp-validation-for="IdReto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCompletado" class="control-label"></label>
                <input asp-for="FechaCompletado" class="form-control" />
                <span asp-validation-for="FechaCompletado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoDelReto" class="control-label"></label>
                <select asp-for="EstadoDelReto" class="form-control"></select>
                <span asp-validation-for="EstadoDelReto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
