<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SanoCenterGold</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-#343333 border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand mr-auto" href="#">
                    <img src="~/img/logo-para-puerta-de-arriba.png" width="360" height="80" class="d-inline-block align-top" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="color:#77bc1f"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Retos Disponibles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="RetoUsuarios" asp-action="Index">Mis Retos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Ejercicios" asp-action="ComoRealizarlos">Explicación Ejercicios</a>
                        </li>

                        @if (User.IsInRole("usuario"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="RetoUsuarios" asp-action="Index">Mis Retos</a>
                            </li>
                        }


                        @if (User.IsInRole("admin"))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Ranking">Ranking</a>
                            </li>

                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                    Administrador
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:#343333">
                                    <li><a class="nav-link text-white" asp-area="" asp-controller="Ejercicios" asp-action="Index">Administrar Ejercicios</a></li>
                                    <li><a class="nav-link text-white" asp-area="" asp-controller="Retos" asp-action="Index">Administrar Retos</a></li>
                                    <li><a class="nav-link text-white" asp-area="" asp-controller="Gimnasios" asp-action="Index">Administrar Gimnasios</a></li>
                                    <li><a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Registrar entrenador</a></li>

                                </ul>
                            </div>
                        }

                        @if (User.IsInRole("entrenador"))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Ranking">Ranking</a>
                            </li>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                    Entrenador
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:#343333">

                                    <li><a class="nav-link text-white" asp-area="" asp-controller="Retos" asp-action="Index">Administrar Retos</a></li>
                                    <li><a class="nav-link text-white" asp-area="" asp-controller="Gimnasios" asp-action="Index">Administrar Gimnasios</a></li>

                                </ul>
                            </div>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SanoCenter<a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
