/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*---------------------------------------------------------------CAMBIOS REALIZADOS JOSUNE*/
#Sombra {
    box-shadow: 0 0 4px black, 0 0 6px #13390F, 0 0 10px #77BC1F, 0 0 15px #B2FC52;
    border-radius: 5%;
}
body {
    background: #343333;
    color: white;
}

html {
    background: #343333;
}

.clearfix {
    clear: both;
    align-items: center;
}

h1 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.neon {
    color: #77bc1f;
    margin-top: 10%;
    text-shadow: 0 0 5px rgba(0,178,255,1), 0 0 10px #77bc1f, 0 0 20px rgba(0,2,255,1), 0 0 40px rgba(38,104,127,1), 0 0 80px rgba(38,104,127,1), 0 0 90px rgba(38,104,127,1), 0 0 100px rgba(38,104,127,1), 0 0 140px rgba(38,104,127,1), 0 0 180px rgba(38,104,127,1);
}
/*---------------------------------------------------------------CAMBIOS REALIZADOS JOSUNE*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #77bc1f;
    border-color: #77bc1f;
    margin-bottom: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    color: #77bc1f
}

.checked {
    color: orange;
}

th {
    color: white !important;
}


td {
    color: white !important;
}

.LogoNosotros {
    /*max-width: 60%;*/
    /*max-height: 60%;*/
    max-width: 100%;
    max-height: 20%;
}

.ParrafoInicio {
    padding-top: 2%;
    max-width: 100%;
    max-height: 20%;
    text-align: -webkit-center;
}
/*#FotosSano{

    display:flex;
    flex-direction:column;
    align-content:space-between;
}*/


.muchasimagenes {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.rankingtext {
    text-align: center;
}

.frasesano {
    padding-top: 2%;
    max-width: 100%;
    max-height: 20%;
    text-align: -webkit-center;
}

h2 {
    text-align: center;
}

.card {
    border: 2px dashed #000000;
    border-radius: 3%;
    margin: 2%;
    text-align:center;
}

    .card cartaReto {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin: 50%;
        background: #343333;
    }

.FotoRetos {
    align-content: center;
    max-width: 300px;
    max-height: 500px;
    padding: 10%;
    padding-right: %;
}
