@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Retos Sano Center</h1>

<p>
    Una experiencia de entrenamiento diferente
    Centros boutique de entrenamiento personal y en grupos reducidos
</p>
