@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>Retos Sano Center</h1>*@

@*<p>
        Una experiencia de entrenamiento diferente
        Centros boutique de entrenamiento personal y en grupos reducidos
    </p>*@

<body>

    <div class="container-fluid" style="padding:auto;">
        <div class="row">
            <div class="LogoNosotros">
                <img src="~/img/Logo Sobre Nosotros.jpg" class="LogoNosotros" />

            </div>
            <div class="ParrafoInicio" font-size:7>

                <p class="ParrafoInicio">
                    “Amamos el
                    deporte, entrenamos personas”, Sano Center propone una experiencia de entrenamiento totalmente diferente al gimnasio tradicional. La seguridad, eficiencia y diversión en el entrenamiento es su razón de ser. En los estudios Sano Center, cada entrenamiento es diferente y cada cliente tiene un entrenador que le guía personalmente para conseguir una experiencia única, y ahora implementamos retos en casa, para que puedas realizar los ejercicios con mucha mas comodidad.
                </p>

            </div>
            @*<div class="container-fluid">*@
            @*<div class="col-lg-12 col-md-6 col-sm-4">*@
            <div class="card-columns" style="justify-content:space-evenly;">
                <div>
                    <img src="~/img/_DSC6702.jpg" class="muchasimagenes" alt="sano" />
                </div>
                <div>
                    <img src="~/img/_DSC6748.jpg" class="muchasimagenes" alt="sano" />
                </div>
                <div>
                    <img src="~/img/_DSC7015.jpg" class="muchasimagenes" alt="sano" />
                </div>
                <div>
                    <img src="~/img/_DSC7171.jpg" class="muchasimagenes" alt="sano" />
                </div>
                <div>
                    <img src="~/img/_DSC6836.jpg" class="muchasimagenes" alt="sano" />
                </div>
                <div>
                    <img src="~/img/DSC_3897.JPG" class="muchasimagenes" alt="sano" />
                </div>

            </div>




        </div>
        <div class="frasesano" font-size:7>
            <h3 class="frasesano">

                "PREVENCIÓN ES SALUD"

            </h3>
        </div>

        <div class="video-cover">
            <video id="video" controls="" preload="none" playsinline="" muted="" autoplay="" loop="" width="100%">
                <source src="https://sanoencasa.es/wp-content/uploads/2020/06/Sano-Medidas-Preventivas-Sin-Temperatura-Espaol.mp4.mp4" type="video/mp4">
            </video>
            <div></div>
        </div>

    </div>
</body>

