@model IEnumerable<SanoCenterGold.Models.Ejercicio>
@{
    ViewData["Title"] = "ComoRealizarlos";
}

<h1>Como Realizarlos</h1>


<div class="container-fluid">

    <div class="row col-lg-12 col-md-2 col-sm-1">
        <div class="row col-lg-12 col-md-2 col-sm-1" style="text-align:center;color:black; justify-content:space-between; align-content:center;">

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%;width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/sentadilla.gif" class="card-img-top" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Sentadilla</h5>
                </div>
            </div>


            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/peso muerto.gif" class="card-img-top" style="height:80%;" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">peso muerto</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/hip thrust.gif" class="card-img-top" style="height:80%;" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5>Extension de Cadera</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem; justify-content: space-between; background: #ffffff;">
                <img src="~/img/plancha.gif" class="card-img-top" style="height:80%;" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Plancha</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/jalon al pecho.gif" class="card-img-top" style="height:80%;" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Jalon al pecho</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/push up.gif" class="card-img-top" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Push up</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/Estocada.gif" class="card-img-top" style="height: 80%;" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Estocada</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/Fondo de Triceps.gif" class="card-img-top" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Fondo de triceps</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/jumping jacks.gif" class="card-img-top" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Jumping Jacks</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem; justify-content: space-between; background: #ffffff;">
                <img src="~/img/burpees.gif" class="card-img-top" style="height:80%;" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Burpees</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/SALTAR comba.gif" class="card-img-top" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Salto Comba</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/plancha lateral.jpg" class="card-img-top" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Plancha lateral</h5>
                </div>
            </div>

            <div id="Sombra" ; style="margin-bottom:5%; margin-top:5%; width: 18rem;justify-content:space-between;background:#ffffff;">
                <img src="~/img/Abdominales Inversos.gif" class="card-img-top" alt="Ejercicio Explicado">
                <div class="card-body">
                    <h5 class="card-title">Abdominales Inversos</h5>
                </div>
            </div>



        </div>


    </div>
</div>







