@using SanoCenterGold.Enum;
@model SanoCenterGold.Models.Ejercicio

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo Ejercicio</h1>

<h4>Ejercicio</h4>
<hr />
<div class="container-fluid">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dificultad" class="control-label"></label>
                <select asp-for="Dificultad" class="form-control" asp-items="@Html.GetEnumSelectList<DificultadEnum>()"></select>
                @*<select asp-for="Dificultad" class="form-control"></select>*@
                <span asp-validation-for="Dificultad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repeticiones" class="control-label"></label>
                <input asp-for="Repeticiones" class="form-control" />
                <span asp-validation-for="Repeticiones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Series" class="control-label"></label>
                <input asp-for="Series" class="form-control" />
                <span asp-validation-for="Series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
